<!doctype html>
<html lang="en">

<head>

<!-- include header -->
<% include partials/head %>

</head>

<body>

<!-- include body -->
<% include partials/sidebar %>
<% include partials/dashboard_body %>

</body>

<!-- include scripts -->
<% include partials/scripts %>

</html>