<!doctype html>
<html lang="en">

<head>

<!-- include header -->
<% include partials/head %>

</head>

<body class="off-canvas-sidebar">

	<% include partials/navbar %>

	<!-- include body -->
	<div class="wrapper wrapper-full-page">
		<!-- off-dashboard pages here -->
	</div>

	<% include partials/footer %>

</body>

<!-- include scripts -->
<% include partials/scripts %>

</html>